<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Blog</title>
</head>
<body>

<div class="topRightCorner" sec:authorize="!isAuthenticated()">
    <a href="/login">Login</a>
</div>

<div class="topRightCorner" sec:authorize="isAuthenticated()">
    <div>
        <span>Hello, </span><span sec:authentication="name"></span>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>

<div sec:authorize="isAuthenticated()">
    <div th:each="article : ${articles}" class="article">
        <div th:text="${article.title}" class="article-title"></div>
        <div th:text="${article.content}" class="article-content"></div>
        <div class="article-bottom-right-corner">
            <span>
                <a th:href="@{/delete_article(article_id=${article.id})}">Delete</a>
            </span>
            <span>
                <span>Author: </span>
                <a th:href="${article.author.username}" th:text="${article.author.username}"></a>
            </span>
        </div>
    </div>
</div>
</body>
</html>