<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Blog</title>
</head>
<body>

<div class="topRightCorner" sec:authorize="!isAuthenticated()">
    <a href="login">Login</a>
</div>

<div class="topRightCorner" sec:authorize="isAuthenticated()">
    <div>
        <span>Hello, </span><span sec:authentication="name"></span>
    </div>
    <a href="login?logout">Logout</a>
</div>

<div sec:authorize="isAuthenticated()">
    <table>
        <tr th:each="article : ${articles}">
            <td th:text="${article.title}"></td>
            <td th:text="${article.content}"></td>
            <td><a href="#" th:text="${article.author.username}"></a></td>
        </tr>
    </table>
</div>
</body>
</html>